/* Estilos base para el menú responsive */
body { margin: 0; }

.menu { 
    background: linear-gradient(45deg, rgb(110, 20, 220), blue);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

a { 
    color: white;
    text-decoration: none;
}
.items a { 
    padding: 0 20px;
}

/* Ocultar el botón hamburguesa y el botón para cerrar en pantallas grandes */
.hamb { 
    display: none;
    color: white;
}
.btnClose { 
    display: none;
    color: white;
    padding-right: 0px;
    text-align: right;
}

/* Estilos para el menú en pantallas pequeñas */
@media screen and (max-width:500px) {
    .items {
        position: absolute;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        transition: .5s;
        background: linear-gradient(45deg, rgb(110, 20, 220), blue);
    }
    .items a {
        display: block;
        padding: 20px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .btnClose { 
        display: block; 
        padding: 20px;
    }
    .hamb { 
        display: block; 
        margin-right: 15px;
    }
}

/* Buscador */
.right { 
    display: flex;
    justify-content: space-between;
}
.buscador_input {
    border: none;
    position: absolute;
    outline: 0;
    padding-right: 30px;
    background-color: transparent;
    top: 6px;
    width: 0px;
    right: 0;
    transition: width .5s cubic-bezier(0, .795, 0, 1);
    cursor: pointer;
}
.buscador_input:focus {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}
